.form {
  padding: 40px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  &-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  &-label {
    margin-bottom: 10px;
  }
  &-input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
  }
  &-list {
    display: flex;
    align-items: center;
    gap: 0 25px;
  }
  &-item {
    display: flex;
    align-items: center;
    gap: 0 5px;
  }
  &-btn {
    background-color: #2c76ff;
    color: #fff;
    outline: none;
    border: 0;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    cursor: pointer;
  }
  &-error {
    margin-top: 5px;
    font-size: 14px;
    color: crimson;
  }
  &-input-radio {
    display: none;
  }
  &-custom-input {
    background-color: #fff;
    width: 100%;
    border-radius: 100rem;
    height: 100%;
  }
  &-checkbox {
    display: flex;
    gap: 0 15px;
  }
}

/* Custom radio */
.custom-radio {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.custom-radio > div {
  box-shadow: 0 0 -0 5px white;
}

.custom-radio input:checked + div {
  background-color: #1fa2ff;
  box-shadow: 0 0 0 2.5px white, 0 0 0 5px rgb(59 130 246 /1);
}

/* Custom checkbox */
.custom-checkbox input:checked + div .custom-checkbox-square {
  background-color: rgb(59 130 246 / 1);
}

.custom-checkbox-square {
  background-color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
