.cook {
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
  }
  &-item {
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear;
  }
  &-item:hover &-social {
    opacity: 1;
    visibility: visible;
    height: 100%;
    transition: all 0.5s ease;
  }
  &-heading {
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    font-weight: 500;
  }
  &-image {
    height: 300px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-social {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 5px;
    width: 100%;
    height: 0;
    background-color: rgba(43, 52, 69, 0.2);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
  }
  &-icon {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover {
      transform: translateY(-5px);
    }
  }
}
