.cook {
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 30px;
  }
  &-item {
    position: relative;
  }
  &-heading {
    position: absolute;
    top: 20px;
    left: 0;
  }
  &-image {
    height: 300px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
